@using Ficha_10.Models

    @model Characters;
    
    @{
        ViewData["Title"] = "MVC_";
    }
    <div>
        <div>

        </div>
    <ul>
        @foreach (var item in Model.CharactersL)
        {
            <li>
                @Html.DisplayFor(modelItem => item.Id)
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Gender)
                @Html.DisplayFor(modelItem => item.Homeworld)
                @Html.DisplayFor(modelItem => item.Born)
                @* @Html.DisplayFor(modelItem => item.Jedi) *@

                @Html.CheckBoxFor(modelItem => item.Jedi)

                @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                @Html.ActionLink("Details", "Details", new {id = item.Id})
            </li>
        }
    </ul>
</div>

